.feedback-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  position: relative;
}

.num {
  background-color: #5b86e5;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.25rem;
  color: #fff;
  flex-grow: 1;
  margin: 0 25px;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
  color: #fff;
}

.close:hover {
  opacity: 0.8;
}

.edit {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
  margin-right: 20px;
  color: #fff;
}

.edit:hover {
  opacity: 0.8;
}
